.app
    max-width 960px
    margin 0 auto

.divClass
    width 100%

    .card_inline
        width 33%
        display: inline-block

    .img_inline
        margin-top 10px

.button_search_disabled
    color: #fff
    background-color: #007bff
    border-color: #007bff
    opacity: .65

.button_search
    color: #fff
    background-color: #007bff
    border-color: #007bff
